.cart-image {
    max-width: 300px;
    margin: 0 0 0 200px;
}

.carrito {
    color: $white;
}

.grid-container-cart {
    position: relative;
    margin: 0 70px 0 70px;
}

.cart-section {
    background: url(../images/cart-bg.jpg);
    background-size: cover;
    padding: 100px 0 40px 0;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;

}

.cart-items {
    list-style: none;
    padding: 0;
    color: $white;
}

.cols {
    display: flex;
}

.cart-list {
    padding: 0 70px;
    background-color: rgb(20, 20, 20, .8);
}

.cart-button {
    border: 2px solid rgb(212, 212, 212);

}

.cart-shorcuts {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 50px 0;
}