.footer {
    display: flex;
    background-color: $main;
    justify-content: center;
    margin: 20px 0 10px 0;

    .social-icons {
        display: flex;
        justify-content: center;
        gap: 30px;
        padding: 15px;

        a {
            font-size: 45px;
            color: $white;
            transition: ease .2s;
            &:hover{
                transform: scale(1.2);
            }
        }
    }
    ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        gap: 15px;
    }
        .line {
            display: flex;
            justify-content: center;
    
            a {
                text-decoration: none;
                color: $white;
                font-size: 20px;
                &:hover{
                    border-bottom: 2px solid red
                }
            }

    }
    .copy{
        display: flex;
        margin: 15px 0 0 0;
        font-size: 16px;
        color: red;
        justify-content: center;
    }
}